
.result-list {
    text-align: center;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

.result-list-content {
    padding: 5px;
}

.slider-block {
    padding: 0;
    width: 6%;
}

.price-box {
    border-left: 1px solid #d6d9dd;

}

.price {
    font-size: 120%;
    color: #00bd68;

}

.last-update-time {
    font-size: 70%;
}

.price-bar {
    height: 50%;
    background-color: #428bca;
}

.line {
    height: 2px;
    width: 93%;
    background-color: #00bd68;
    margin: 5px auto;
    position: relative;
    padding: 0;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
}

/* centering styles for jsbin */
html,
body {
    width: 100%;
    height: 100%;
}

html {
    display: table;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.progress-bar-vertical {
    width: 20px;
    min-height: 50px;
    display: inline-flex;
    align-items: flex-end;
    border-radius: 0 0 0 0;
    margin: 0;

}

.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
}