html, body {
    width: 100%;
    height: 100%;
    display: table;
    background-color: #69AFFF;
}

.container {
    background-color: #69AFFF;
}

.main-container {
    height: 95%;
}

.footer-container {
    height: 5%;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#header-block {
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

#request-form-block {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    padding: 5px;
}

#dateSlider, #resultTable, #calendar {
    background-color: #FFFFFF;
    margin-bottom: 5px;

}

#messageBox {
    text-align: center;
    display: none;
}

#footer-block {
    background-color: #FFFFFF;
    height: 100%;
}





/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
}


.refresh-icon {
    width: 100%;
    color: green;
    top: -2px;
}

.swap-icon {
    transform: rotate(90deg);
    webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

/*loading icon animation*/
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}