.calendar-container {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.calendar-month-row {
}

.calendar-month-item {
}

.calendar-month-item.col1 {
}

.calendar-month-item.col2 {
}

.calendarTable {
    border-spacing: 1px;
    border-collapse: separate;
    background-color: #ffffff;
    width: 100%;
}

.calendarHeader {
    padding: 5px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.calendarCell {
    padding: 5px;
    width: 60px;
    position: relative;
    background: #fdfdfd;
    border: rgb(228, 228, 228);;
    border-width: thin;
    border-style: solid;
}

.weekDayRow {
    height: 40px;
    text-align: center;
}

.weekDayCell {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background: #ffffff;
    border-style: none;
}

.calendarRow {
    height: 50px;
}

.cell-with-price {
    cursor: pointer;
}

.dataContainer {

}

.dateContainer {
    position: absolute;
    top: 0;
    right: 0;
    color: grey;
}

.priceContainer {
    position: absolute;
    bottom: 0;
    left: 10%;
    margin: 0 0 0 5px;
    font-weight: bold;
    font-size: 150%;
}

.priceContainer-green {
   color: green
}
.priceContainer-yellow {
   color: #454e56
}
.priceContainer-red {
   color: #ff5b5b
}
.priceContainer .fraction {
    font-size: 60%;


}
.priceContainer .currency {
    font-size: 50%;
    margin: 0 0 2px 2px;
    color: grey;
}

.search-icon-container {
    justify-content: center;
    display: flex;
    margin: 0;
    cursor: pointer;
    color: green;
}

.beforeFirst {

}

.selectedRange {
    background-color: rgb(193, 218, 255);;
}

.notSelectedRange {

}

.calendar-btn-prev {
    position: absolute;
    height: 30px;
}

.calendar-btn-prev::before {
    font-family: 'Glyphicons Halflings';
    content: "\e091\00a0";
}

.calendar-btn-next {
    position: absolute;
    height: 30px;
    right: 20px;
}

.calendar-btn-next::after {
    font-family: 'Glyphicons Halflings';
    content: " \e092";
}

.btn-sm.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}