.calendar-container{
    width:100%;
}
.calendar-month-row{
}
.calendar-month-item{
}

.calendar-month-item.col1{
}

.calendar-month-item.col2{
}

.calendarTable {
    border-spacing: 1px;
    border-collapse: separate;
    background-color: #ffffff;
    width: 100%;
}

.calendarHeader {
    padding: 5px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.calendarCell {
    padding: 5px;
    width: 60px;
    position: relative;
    background: #fdfdfd;
    border: rgb(228, 228, 228);;
    border-width: thin;
    border-style: solid;
}

.weekDayRow {
    height: 40px;
    text-align: center;
}

.weekDayCell {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background: #ffffff;
    border-style: none;
}

.calendarRow {
    height: 50px;
}

.cell-with-price{
    cursor: pointer;
}

.dataContainer {

}

.dateContainer {
    position: absolute;
    top: 0;
    right: 0;
    color: grey;
}

.priceContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}

.search-icon-container {
    justify-content: center;
    display: flex;
    margin: 0;
    cursor: pointer;
    color: green;
}

.beforeFirst {

}

.selectedRange{
    background-color: rgb(193, 218, 255);;
}

.notSelectedRange{

}