.result-list-container {
    padding: 5px;
}

.result-list-filter-panel {
    padding: 5px;
}

.result-list-element {
    text-align: center;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
    border: #999;
    border-width: thin;
    border-style: solid;
}

.result-list-route-info-block {

}

.result-list-content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.result-list-price-block {
    border-left: 1px solid #d6d9dd;
}
.buy-btn {
    width: 60%;
      font-size: 150%;
      padding: 2px;
}
@media all and (max-width: 768px){
.result-list-price-block div {
    display: inline-block;
}
.buy-btn {
    width: 30%;
      font-size: 150%;
      padding: 2px;
}
}



.result-list-price{
    font-size: 50%;
    /*color: #00bd68;*/
    display: inline-block;
}

.last-update-time {
    font-size: 70%;
    padding: 2px;
}

.line {
    height: 2px;
    width: 60%;
    background-color: #00bd68;
    margin: 5px auto;
    position: relative;
    padding: 0;
    display: inline-block;
}
.line-arrow {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #00bd68;
  display: inline-block;
}
.line1::after {
    font-family: 'Glyphicons Halflings';
    content: "\e092"; /*glyphicon-arrow-right*/

}


.destination-block{

}

.date-block{

}

.time-block{
    color: #69AFFF;
    font-weight: 700;
    font-size: 16px;
}

.duration-block{
    color: #a9a9a9;
    font-weight: 700;
    font-size: 16px;
}
.duration-block::after {
    font-family: 'Glyphicons Halflings';
    content: "\e092"; /*glyphicon-arrow-right*/
    color: #a9a9a9;
    font-size: 13px;
}

.duration-block::before {
    font-family: 'Glyphicons Halflings';
    content: "\e092"; /*glyphicon-arrow-right*/
    color: #a9a9a9;
    font-size: 13px;
}