<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BusScaner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link href="resources/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="resources/css/bootstrap.css" rel="stylesheet"/>

    <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
    <!--<script src="resources/js/bootstrap.min.js"></script>-->


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css"/>

    <link href="resources/css/buscaner.css" rel="stylesheet"/>
    <script src="resources/js/buscaner.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>

    <script type="text/javascript" src="resources/js/bootstrap-datepicker.js"></script>
    <link href="resources/css/datepicker.css" rel="stylesheet"/>

    <style type="text/css">


        html, body {
            height: 100%
        }

    </style>
</head>
<body style="background-color:#69AFFF; height:100%">


<div class="container" style="background-color:#69AFFF; height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-lg-10" style="height:100%;">
            <div class="row" style="background-color:#FFFFFF; ">
            <div class="col-lg-12">
                Header
            </div>
        </div>
            <div class="row" style="height:1%;">
            </div>

        <div class="row" style="background-color:#FFFFFF; height:200pt;">
            <form id="requestForm" role="form" action="#" th:action="@{/searchData}" th:object="${requestForm}"
                  method="post"
                  style="margin: 5pt 5pt 5pt 5pt">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <label class="col-lg-3" for="fromCity"> From </label>

                    <div class="col-lg-1"></div>
                    <label class="col-lg-3" for="toCity"> To </label>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3">
                        <select id="fromCity" th:field="*{fromCity}" class="form-control selectpicker"
                                data-live-search="true">
                            <option th:each="city: ${cities}" th:value="${city.cityId}"
                                    th:text="${city.cityName}"></option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select id="toCity" th:field="*{toCity}" class="form-control">
                            <option th:each="city: ${cities}" th:value="${city.cityId}"
                                    th:text="${city.cityName}"></option>
                        </select>
                    </div>
                </div>

                <div class="row" id="oneWayOrReturn">
                    <div class="col-lg-2"></div>
                    <label class="col-lg-3"><input id="scanForPeriod" type="checkbox" th:field="*{scanForPeriod}"
                                                   th:value="${scanForPeriod}"/>Scan for period</label>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3">
                        <label>Start date for search</label>
                    </div>

                    <div class="col-lg-3">
                        <label>End date for search</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="input-append date col-lg-3 form-group" id="datepicker">
                        <!--<label for="departureDate">Start date for search</label>-->
                        <input class="form-control span2 pull-left" id="departureDate" type="text"
                               th:field="*{departureDate}" size="16"/>
                        <!--<span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>-->
                    </div>

                    <div class="input-append date col-lg-3" id="datepickerEnd">
                        <!--<label>End date for search</label>-->
                        <input class="form-control span2 pull-left" id="departureDateEnd" type="text"
                               th:field="*{departureDateEnd}" disabled="disabled"/>
                        <!--<span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="checkbox col-lg-3">
                        <label><input type="checkbox" value=""/>No changes</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-2">
                        <!--<input type="submit" class="btn btn-info form-control" value="Search"/>-->
                        <button id="searchButton" name="searchButton" class="btn btn-primary"
                                type="button">Search
                        </button>
                    </div>
                </div>
            </form>
            <div class="row">
                <h2>
                    <div id="messageBox" class="col-lg-8" style="left: 25%;">
                    </div>
                    <div th:if="${message != null}" th:text="${message}" class="col-lg-8" style="left: 25%;">
                    </div>
                </h2>
            </div>
        </div>

        <div class="row" id="resultTable"
             style="background-color:#FFFFFF; min-height:58%; padding-bottom:6%; box-sizing: border-box;">

        <div th:replace="resultTable :: resultTable">

                </div>

        </div>

        <div class="row" style="height:1%;">
        </div>
        <div class="row" style="background-color:#FFFFFF; height:5%; bottom: 0px; position: relative;">
            <div class="col-lg-12">
                Footer
            </div>
        </div>
        </div>
    </div>


</div>

<!--<div class="row">-->
<!--<div th:if="${prices != null}" class="col-lg-8" style="left: 25%;">-->
<!--Prices compact view:-->
<!--<div th:each="price: ${prices}" th:text="${price.departureDate + ' ' +-->
<!--price.price}"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div th:if=" ${cities !=null}" class="col-lg-12" style="left: 25%;">-->
<!--<p>Available Cities:</p>-->
<!--<div style="overflow-y: scroll; height: 300px;" class="col-lg-8">-->
<!--<div th:each="city: ${cities}" th:text="${city.cityId + ' -  ' + city.cityName}"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<script type="text/javascript">-->
<!--$(function(){-->
<!--$('#oneWayOrReturn input:radio').click(function (){-->
<!--$('#oneWayOrReturn input:radio').each(function (){-->
<!--if(this.checked){-->
<!--if (this.value=='oneWay'){-->
<!--$('#departureDateEnd').attr('disabled',true);-->
<!--};-->
<!--};-->
<!--if (this.checked){-->
<!--if (this.value == 'returnWay'){-->
<!--$('#departureDateEnd').removeAttr('disabled');-->
<!--};-->
<!--};-->
<!--});-->
<!--});-->
<!--});-->
<!--</script>-->
<script type="text/javascript">

    $(document).ready(function () {
        initDatePickers();

        initFormOnLoad();
    });

    $(function () {
        $('#scanForPeriod').click(function () {
            enableDateEndField();
        });
    });

    $('#searchButton').click(function () {

        if (localStorage) {
            localStorage.setItem('requestForm.fromCity', $('#fromCity').val());
            localStorage.setItem('requestForm.toCity', $('#toCity').val());
            localStorage.setItem('requestForm.departureDate', $('#departureDate').val());
            localStorage.setItem('requestForm.departureDateEnd', $('#departureDateEnd').val());
            localStorage.setItem('requestForm.scanForPeriod', $('#scanForPeriod').prop("checked"));

        }
        searchData();
    });


    $.ajaxSetup({
        beforeSend: function () {
            $("#messageBox").html("loading...");
            $("#messageBox").show();
        },
        complete: function () {
            $("#messageBox").hide();
        }
    });


</script>

</body>
</html>