<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>CalendarView</title>

</head>
<body>


<div th:fragment="resultCalendar" id="calendar" class="col-lg-12">

	<script type="text/javascript" th:inline="javascript">
	    $(function() {

			var requestForm = [[${requestForm}]]
			var priceList = [[${resultDetailsList}]];

			drawPriceView(requestForm, priceList);
		});
	</script>

</div>

</body>
</html>
