<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>CalendarView</title>

</head>
<body>


<div th:fragment="resultCalendar" class="col-lg-12"
	 style="background-color:#FFFFFF; min-height:58%; padding-bottom:6%; box-sizing: border-box;">
<form>
	<p id="calendar"></p>
	<script type="text/javascript" th:inline="javascript">
	    $(function() {
            var startYear = [[${startYear}]];
		    var startMonth = [[${startMonth}]];
		    var startDay = [[${startDay}]];
		    var endYear = [[${endYear}]];
		    var endMonth = [[${endMonth}]];
		    var endDay = [[${endDay}]];
         var priceList = [[${resultDetailsList}]];
         var dayNames = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"];

         drawPriceView(startYear, startMonth, startDay, endYear, endMonth, endDay, priceList, dayNames);
		});
	</script>
</form>
</div>

</body>
</html>

<!--
if (nameMonth == "rus") {
weekDay = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"];
}
else if (nameMonth == "russ") {
weekDay = ["пн", "вт", "ср", "чт", "пт", "сб", "вс"];
}
else if (nameMonth == "russs") {
weekDay = ["п", "в", "с", "ч", "п", "с", "в"];
}
else if (nameMonth == "eng") {
weekDay = ["Mon", "Tues", "Wed", "Thu", "Fri", "Sat", "Sun"]
}
else if (nameMonth == "engs") {
weekDay = ["Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"];
}
else if (nameMonth == "engss") {
weekDay = ["m", "t", "w", "t", "f", "s", "s"];
}-->
