<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>


<div th:fragment="resultList" class="col-lg-12">
    <div class="row row-centered" th:if="${resultMessageKey != null}">
        <div id="resultMessage" class="col-lg-6 col-centered alert alert-danger"
             th:text="#{${resultMessageKey}}">

        </div>
    </div>

    <div th:if="${resultDetailsList != null}">

        <div class="row">
            <div class="col-lg-2 col-lg-offset-10">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By:
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Price:</li>
                        <li><a href="#" onclick="sortResultList('priceVal', 'ASC')">ASC</a></li>
                        <li><a href="#" onclick="sortResultList('priceVal', 'DESC')">DESC</a></li>
                        <li class="dropdown-header">Time:</li>
                        <li><a href="#" onclick="sortResultList('timeVal', 'ASC')">ASC</a></li>
                        <li><a href="#" onclick="sortResultList('timeVal', 'DESC')">DESC</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" id="resulList">


                <div class="row list-group-item result-list" th:each="price: ${resultDetailsList}"
                     th:attr="priceVal = ${price.price}, timeVal = ${price.departureTime}, buyurl = ${price.link}"
                     th:onclick="'javascript:buyTicket(\''+ ${price.link} +'\');'"
                        >

                    <div class="col-lg-8 result-list-content">
                        <div class="col-xs-5">
                            <div class="row" th:text="${price.fromDestination}">
                            </div>
                            <div class="row" th:text="${price.departureDate} + ' ' + ${price.departureTime}">
                            </div>

                        </div>
                        <div class="col-xs-2 result-list-content">
                            <div class="row" th:text="${price.duration}">
                            </div>
                            <div class="row line">

                            </div>
                        </div>
                        <div class="col-xs-5 result-list-content">
                            <div class="row" th:text="${price.toDestination}">
                            </div>
                            <div class="row" th:text="${price.arrivalTime}">
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-2 result-list-content" th:text="${price.company}">company</div>


                    <div class="col-xs-2 result-list-content price-box">
                        <div class="row price">
                            <div class="col-xs-3 col-xs-offset-1">
                                <div th:text="${price.price}" style="text-align: right;"></div>
                            </div>
                            <div class="col-xs-3">
                                <div th:text="${price.currency}" style="text-align: left;"></div>
                            </div>
                            <div class="col-xs-5"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <button class="btn btn-primary btn-sm" id="buyTicket"
                                        onclick="buyTicket($().parent('li').attr('buyurl'));"
                                        type="button">
                                    Buy ticket
                                </button>
                            </div>
                        </div>
                        <div class="row text-info">
                            <div class="col-xs-12 last-update-time"
                                 th:text="'Last Update:' + ${price.lastUpdate}"></div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">

                <button id="updateData" onclick="updateData();" type="button" class="btn btn-primary">
                    Update Data
                </button>
            </div>
        </div>
    </div>
</div>


<div th:fragment="dateSlider" class="col-lg-12"
     style="background-color:#FFFFFF;">
    <div class="row row-centered">
        <div class="col-lg-1 col-centered btn btn-default date-slider-block" th:each="price: ${resultDetailsList}"
             th:attr="departureDate = ${price.departureDate}"
             onclick="onDateSliderClick(this);">

            <div class="row row-centered">
                <div class="col-xs-12"
                     th:text="(${price.price} == 0) ? '&nbsp;' : ${#numbers.formatDecimal(price.price,1,0) + ' ' + price.currency}">
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-xs-12">
                    <div class="progress progress-bar-vertical">
                        <div class="progress-bar"
                             th:style="'height : '+${price.price/maxPrice *100} +'%;'">

                        </div>
                    </div>
                </div>

            </div>
            <div class="row row-centered" th:text="${#strings.substring(price.departureDate,0,5)}">
            </div>
        </div>
    </div>

</div>


</body>
</html>