<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>


<div th:fragment="resultList" class="col-md-12 result-list-container">

    <div th:if="${resultDetailsList != null}">

        <div class="row result-list-filter-panel">
            <div class="col-sm-2 col-sm-offset-10">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By:
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Price:</li>
                        <li><a href="#" onclick="sortResultList('priceVal', 'ASC')">ASC</a></li>
                        <li><a href="#" onclick="sortResultList('priceVal', 'DESC')">DESC</a></li>
                        <li class="dropdown-header">Time:</li>
                        <li><a href="#" onclick="sortResultList('timeVal', 'ASC')">ASC</a></li>
                        <li><a href="#" onclick="sortResultList('timeVal', 'DESC')">DESC</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="resulList">


                <div class="row list-group-item result-list-element" th:each="price: ${resultDetailsList}"
                     th:attr="priceVal = ${price.price}, timeVal = ${price.departureTime}, buyurl = ${price.link}"
                     th:onclick="'javascript:buyTicket(\''+ ${price.link} +'\');'"
                        >

                    <div class="col-sm-10 col-xs-12 result-list-route-info-block">
                        <div class="col-xs-4">

                            <div class="" th:text="${price.fromDestination}"></div>
                            <div class="" th:text="${price.departureDate} + ' ' + ${price.departureTime}"></div>


                        </div>
                        <div class="col-xs-1 result-list-content">

                            <div class="" th:text="${price.duration}"></div>
                            <div class="line"></div>

                        </div>
                        <div class="col-xs-4 result-list-content">

                            <div class="" th:text="${price.toDestination}"></div>
                            <div class="" th:text="${price.arrivalTime}"></div>

                        </div>
                        <div class="col-xs-1 result-list-content" th:text="${price.company}">company</div>
                    </div>


                    <div class="col-sm-2 col-xs-12  result-list-content result-list-price-block">

                        <div class="result-list-price" th:text="${price.price} + ' ' + ${price.currency}"></div>

                        <div class="btn btn-primary btn-sm" id="buyTicket"
                                        onclick="buyTicket($().parent('li').attr('buyurl'));"
                                        type="button">
                                    Buy ticket
                        </div>

                        <div class="last-update-time" th:text="'Last Update:' + ${price.lastUpdate}"></div>

                    </div>


                </div>


            </div>
        </div>
        <div class="row result-list-filter-panel">
            <div class="col-lg-2 col-lg-offset-5">

                <button id="updateData" onclick="updateData();" type="button" class="btn btn-primary">
                    Update Data
                </button>
            </div>
        </div>
    </div>
</div>


<div th:fragment="dateSlider" class="col-md-12"
     style="background-color:#FFFFFF;">
    <div class="row row-centered date-slider-container">

        <div class="col-lg-1 col-centered before-date-slider glyphicon glyphicon-calendar"
             th:if="${resultDetailsList != null}"
             th:attr="departureDate = ${resultDetailsList[0].departureDate}"
             onclick="switchToResultCalendar($(this).attr('departureDate'));">
        </div>
        <div class="col-lg-1 col-centered btn btn-default date-slider-block" th:each="price: ${resultDetailsList}"
             th:attr="departureDate = ${price.departureDate}"
             onclick="onDateSliderClick(this);">

            <div class="row row-centered">
                <div class="col-xs-12"
                     th:text="(${price.price} == 0) ? '&nbsp;' : ${#numbers.formatDecimal(price.price,1,0) + ' ' + price.currency}">
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-xs-12">
                    <div class="progress progress-bar-vertical">
                        <div class="progress-bar"
                             th:if="${price.price &gt; 0}"
                             th:style="'height : '+${price.price/maxPrice *100} +'%;'">

                        </div>
                        <div class="refresh-icon glyphicon glyphicon-refresh"
                             th:if="${price.price &lt;= 0}">

                        </div>
                    </div>
                </div>

            </div>
            <div class="row row-centered" th:text="${#strings.substring(price.departureDate,0,5)}">
            </div>
            <div class="row row-centered week-day-name">
            </div>
        </div>
        <div class="col-lg-1 col-centered after-date-slider glyphicon glyphicon-calendar"
             th:if="${resultDetailsList != null}"
             th:attr="departureDate = ${resultDetailsList[resultDetailsList.size()-1].departureDate}"
             onclick="switchToResultCalendar($(this).attr('departureDate'));">
        </div>
    </div>

</div>


</body>
</html>